<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    h3.question {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 100;
    }
    .editor-container {
      width: 900px;
      height: 540px;
      margin: 20px auto;
      position: relative;
    }
    #editor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      font-size: 20px;
     }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
  <%#Vportal::CustomTable.fetch('dexpara_matricula_52298f981848fd43019c').where(matricula: formable.installation_number.to_s.tr('-','')).first&.cc_multa_e_juros%>
    <h3 class="question">Teste Highlight syntax</h3>

    <form>
      <%= form_with url: "/submit", method: :get do |form| %>
      <div class="editor-container">
        <div id="editor"></div>
      </div>
      <%= form.text_area :bussines_rule, style: 'display:none' %>
      <%= form.submit "Submit" %>
    <% end %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

    let editor = document.querySelector("#editor");
    editor_field = ace.edit(editor, {
      theme: "ace/theme/sqlserver",
      mode: "ace/mode/ruby",
    });
    var textarea = $('textarea[name="bussines_rule"]');
    editor_field.getSession().on("change", function () {
      textarea.val(editor_field.getSession().getValue());
    });

    </script>
  </body>
</html>